activity-manager 
{
   ion-spinner
   {
          z-index: 10;
          top: -11px !important;
   }
   ion-navbar + ion-toolbar .toolbar-background
   {
    //    background-color: rgba(248, 248, 248, 0.62);
    background-color: color($colors,prettylight);
   }
     background-color: color($colors,lightblue);
     
        /*margin: 30px;*/
        box-shadow: 0 3px 10px grey;
        ion-menu
        {
            min-width: 325px !important;
        }
        ion-content
        {
            ion-row
            {
                height: 100%;
            }
        }
     
     ion-navbar
     {
         min-height: initial !important;
         padding: 0 4px !important;
     }
//      .backgroud-div 
//      {
//     height: 40%;
//     background-color: #edeeef;
//     bottom: -60%;
//     position: relative;
//    }
    :not(ion-navbar)>.toolbar-content
    {
        text-align: center;
    }
   ion-chip
   {
       height:20px;
       line-height: 20px;
       border: 1px solid color($colors,chip);
       background: transparent !important;
       color: color($colors,chip);
       .button
       {
           height: 20px;
           width: 29px;
            height: 29px;
       }
        ion-label
        {
            color: color($colors,darkgray);
        }
   }
   .add-project
   {
       margin-top: -4px;
   }
   .editor-col
   {
       position: absolute;
   }
    .project-container
    {
        background-color: color($colors,prettylight);
    }
    .add-project-container
    {
        display: inline-block;
        ion-list
        {
            position: absolute;
            right: 50%;
            width: 217px;
            top: 109px;
            -webkit-box-shadow: 0 0 2px #d2cfcf;
            box-shadow: 0 0 2px #d2cfcf;
            margin-right: -75px;
        }
        ion-spinner
        {
            top: 95px !important;
            margin-left: -37px;
        }
    }
}
