<!--
  Generated template for the ActivityManager page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>
  <!--<ion-navbar hideBackButton="true" dir="ltr" color="dark">
    <h6 padding-left no-margin [style.color]="'white'">PRIORITY</h6>
    <ion-buttons end padding-right>
      <button ion-button icon-only (click)="loadData()" color="white" clear>
        <ion-icon name="refresh"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>-->
  <!--<ion-searchbar></ion-searchbar>-->
  <ion-toolbar no-padding>
    <ion-title text-center padding-top padding-bottom>פעילויות לפרויקט</ion-title>
  </ion-toolbar>

  <div text-center padding class="project-container">
    <ion-chip *ngFor="let project of projects | async">
      <ion-label>{{project.PROJDES}}</ion-label>
      <button ion-button clear color="chip" (click)="deleteProject(project)">
          <ion-icon name="close"></ion-icon>
      </button>
    </ion-chip>
    <div class="add-project-container">
      <span *ngIf="getprojects().length<=0" [style.color]="'#48c0ee'">הוסף פרויקט</span>
      <button ion-button icon-only clear color="primary" (click)="toggleAddProjInput()" class="add-project">
        <ion-icon name="add" *ngIf="!isShowAddProjInput" ></ion-icon>
        <ion-input #projInputElem *ngIf="isShowAddProjInput"   [style.color]="'#787878'" [(ngModel)]="projInput" (keypress)="keypressHandler($event)" (input)="searchForProject()" (click)="projInputClick($event)"></ion-input>
        <ion-icon name="close" color="darkgray" *ngIf="isShowAddProjInput"></ion-icon>
    </button>
    <ion-spinner name="dots" *ngIf="isShowSpinner"></ion-spinner>
      <ion-list *ngIf="isShowAddProjInput && projSearchList && projSearchList.length>0"  no-lines>
        <button ion-item *ngFor="let proj of projSearchList" (click)="projSelected(proj)">
        {{proj.string1}}
      </button>
      </ion-list>
    </div>
  </div>
</ion-header>
<ion-content dir="rtl">
  <!-- <ion-grid>
    <ion-row nowrap>
      <ion-col class="editor-col"> 
        <activity-editor></activity-editor>
      </ion-col>
      <ion-col col-md-9 col-12>
        <activity-list></activity-list>
      </ion-col>
    </ion-row>
  </ion-grid> -->
  <activity-list></activity-list>
</ion-content>