activity-editor {
    ion-header {
        padding: 10px;
        background-color: white;
        border-bottom: 1px solid #eaeaea;
        position: sticky; //close icon
        ion-icon {
            float: left;
            font-size: 20px;
        }
        .activity-number {
            color: color($colors, chip);
        }
        .avatar-circle {
            vertical-align: top;
            margin-top: 4px;
            margin-right: 20px;
            margin-left: 3px;
            display: inline-block;
            width: 35px;
            height: 35px; // background-color: color($colors,primary);
            border: 1px solid color($colors, darkblue);
            text-align: center;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
        }
        .initials {
            position: relative;
            /* 25% of parent */
            top: 7px;
            /* 50% of parent */
            font-size: 17.5px;
            /* 50% of parent */
            line-height: 17.5px;
            color: color($colors, darkblue);
            font-weight: bold;
        }
    }
    ion-grid {
       height:calc(100% - 38px);
        .row
        {
            height:100%;
        }
        .activity-info {
            overflow: auto;
            border-left: 1px solid #eaeaea;
            ion-spinner {
                top: auto;
                bottom: 40%;
            }
            .activity-title-container {
                padding-left: 20px;
                padding-right:10px;
                padding-bottom: 20px;
                .activity-title {
                    margin-bottom: 1px;
                    margin-top: 5px;
                    textarea {
                        overflow: hidden;
                        margin: 0;
                        resize:none;
                        padding: 5px 4px;
                        width: 100%;
                        font-size: 20px;
                        color: color($colors, darkblue);
                        border: 1px solid transparent;
                        &:focus {
                            border-radius: 2px;
                            border-color: color($colors, darkblue);
                        }
                    }
                    &+ion-note {
                        margin-right: 10px;
                        &+ion-label {
                            margin-top: 30px;
                        }
                    }
                }
                .activity-comment {
                    padding-left: 20px;
                    textarea {
                        resize:none;
                        width: 100%;
                        margin: 0;
                        margin-right:5px;
                        margin-top:-5px;
                        padding: 5px 4px;
                        color: color($colors, chip);
                        border: 1px solid transparent;
                        &:focus {
                            border-radius: 2px;
                            border-color: color($colors, darkblue);
                        }
                    }
                }
            }
            .activity-text-container {
                padding-left: 20px;
                padding-right:15px;
                background-color: color($colors,prettylight);
                min-height: calc(100% - 79px);
                ion-label {
                    font-size: 17px;
                    margin: 0;
                    padding: 10px 0px;
                }
                .text-editor {
                    margin-right: -1px;
                    background-color: white;
                    border: 1px solid color($colors, gray);
                    border-radius: 2px;
                    height: 110px;
                }
                .activity-text {
                    padding: 20px 0px 0 0px;
                    // height: calc(100% - 25%);
                    // overflow: auto;
                    // background-color: color($colors, prettylight);
                    p {
                        margin: 0;
                    }
                    hr {
                        background-color: color($colors, gray);
                    }
                }
            }
        }
        .activity-about {
            background-color: #f4f4f4;
        }
    }
}

ion-popover {
    .popover-content {
        top: 50px !important;
        height: calc(100% - 100px);
        width: 80% !important;
        border-radius: 10px !important;
        box-shadow: none !important;
        border: 1px solid lightgray;
        overflow: hidden;
    }
    ion-backdrop {
        opacity: 0.07;
    }
    .popover-viewport
    {
        height:100%
    }
}