page-main {

    .main-tab-button{
      border-left: 1px solid #C0BFBF;
    }
    ion-grid,ion-row
   {
                height: 100%;
   }
    .toolbar
   {
       min-height: 30px  !important;
      
   }
   ion-navbar + ion-toolbar .toolbar-background
   {
    //    background-color: rgba(248, 248, 248, 0.62);
    background-color: color($colors,prettylight);
   }
   >ion-header .toolbar{
    border-bottom: 1px solid color($colors,lightgray);
   }
   .activity-manager-col
   {
       box-shadow: 1px 0px 4px 0px rgba(0,0,0,0.38);
       z-index: 10;
   }
   >ion-content .scroll-content
   {
      overflow-x: hidden;
   }
   .date
   {
      
   }
   
}
