<!--
  Generated template for the UserHours page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>

  <ion-navbar hideBackButton="true" dir="ltr" color="dark">
      <h6 padding-left [style.color]="'white'">PRIORITY</h6>
      <ion-buttons end padding-right>
      <button ion-button icon-only (click)="loadData()">
        <ion-icon name="refresh"></ion-icon>
      </button>
    </ion-buttons>
    </ion-navbar> 
    <ion-toolbar>
      <ion-title text-center>{{currentDate}}</ion-title>
    </ion-toolbar>
</ion-header>


<ion-content padding>
  <ion-item *ngFor="let time of hoursList">
    <ion-note>{{"פעילות"+" "+time['PROJACT']}} </ion-note>
    <h3>{{time['ACTDES']}}</h3>
    <p>{{time.STIMEI+" - "+time.ETIMEI}}</p>
    <ion-row>
      <ion-col>
        <button ion-button *ngIf="time.isActive" clear class="start-activity" (click)="endReport(time)">
              <ion-icon name="ios-pause-outline" color="crimson"></ion-icon>
        </button>
        <button ion-button *ngIf="!time.isActive" clear class="start-activity" (click)="startReport(time)">
              <ion-icon name="ios-play-outline" color="secondary"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
    <!--<p>{{time['CURDATE']}}</p>-->
    <!--<p style="text-align:center" *ngIf="task.isActive">
      <strong>{{activeHours+":"+activeMinutes+":"+activeSeconds}}</strong>
      <button ion-button round [style.backgroundColor]="activeIconColor" (click)="toggleTask()">
                  <ion-icon name="{{activeIconName}}"></ion-icon>
              </button>
    </p>-->

  </ion-item>
</ion-content>