<!--
  Generated template for the UserHours page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>

  <!-- <ion-segment [(ngModel)]="selectedSegment" (ionChange)="onSegmentChanged($event)" dir="rtl" color="darkblue">
      <ion-segment-button value="todayReports">
        היום
      </ion-segment-button>
      <ion-segment-button value="myTasks">
        הפעילויות שלי
      </ion-segment-button>
    </ion-segment> -->


</ion-header>

  <ion-grid no-padding class="container-grid">
    <ion-row>
        <!-- איטרציה -->
      <ion-col [style.backgroundColor]="'#fbfbfb'">
        <ion-list class="favorite-list">
          <ion-list-header text-center no-margin color="notesHeader">איטרציה</ion-list-header>
          <ion-card *ngFor="let item of iterationItems; " (click)="editActivity(item)" padding-right padding-top>
            <ion-note>{{item['DOCDES'] +" "+item['TODOREF']}} </ion-note>
            <!-- <ion-note item-end>{{item['UDATE'] }} </ion-note> -->
            <h3>{{item['DETAILS']}} </h3>
            <p>{{item['OWNERLOGIN']}}</p>
            <p>{{item['STATDES']}}</p>
            <ion-buttons margin-top margin-bottom no-margin>
              <button ion-button small clear no-padding no-margin margin-left  (click)="startReport(item['TODOREF'],$event)" color="hoursHeader">
                <ion-icon name="ios-play-outline" [style.marginLeft]="'5px'"></ion-icon>
                התחל לעבוד
              </button>
              <button ion-button small clear no-padding no-margin margin-left  color="todoHeader" (click)="reportHours(item,$event)">
                <ion-icon name="time" [style.marginLeft]="'5px'"></ion-icon>
                דווח שעות
              </button>
            </ion-buttons>
          </ion-card>
        </ion-list>
      </ion-col>
      <!-- נושאים לביצוע -->
      <ion-col col-md-4 col-12 class="col-with-border" [style.backgroundColor]="'#f4f4f4'">
        <ion-spinner name="dots" *ngIf="isShowSpinner" text-center></ion-spinner>
        <ion-list class="todo-list">
          <ion-list-header text-center no-margin margin-bottom color="todoHeader">נושאים לביצוע</ion-list-header>
          <ion-card *ngFor="let item of myTasks; " (click)="editActivity(item)" padding-right padding-top>
            <ion-note>{{item['DOCDES'] +" "+item['TODOREF']}} </ion-note>
            <!-- <ion-note item-end>{{item['UDATE'] }} </ion-note> -->
            <h3>{{item['DETAILS']}} </h3>
            <p>{{item['PROJDES']}}</p>
            <ion-buttons margin-top margin-bottom no-margin>
              <button ion-button small clear no-padding no-margin margin-left  (click)="startReport(item['TODOREF'],$event)" color="hoursHeader">
                <ion-icon name="ios-play-outline" [style.marginLeft]="'5px'"></ion-icon>
                התחל לעבוד
              </button>
              <button ion-button small clear no-padding no-margin margin-left  color="todoHeader" (click)="reportHours(item,$event)">
                <ion-icon name="time" [style.marginLeft]="'5px'"></ion-icon>
                דווח שעות
              </button>
            </ion-buttons>
          </ion-card>
        </ion-list>
      </ion-col>
      <!-- <ion-col [style.backgroundColor]="'#fbfbfb'">
        <ion-list class="favorite-list">
          <ion-list-header text-center no-margin color="notesHeader">הלוח שלי</ion-list-header>
          <sticky-notes></sticky-notes>
        </ion-list>
      </ion-col> -->
     
      <ion-col col-12 col-md-4 class="col-with-border" >
        
        <ion-list class="todays-reports-list">
          <ion-list-header text-center no-padding no-margin margin-bottom color="hoursHeader">
            דיווחי שעות
            <!-- <ion-toolbar color="prettylight" margin-top no-padding>
              <h5 text-center no-margin>{{currentDate}}</h5>
            </ion-toolbar>-->
          </ion-list-header>
          <ion-spinner name="dots"  duration="900" *ngIf="isShowRepSpinner" text-center></ion-spinner>
          <ion-item class="no-reports" center *ngIf="hoursList && hoursList.length<=0" color="chip">
            <button ion-button icon-only clear disabled>
              <ion-icon name="paper" color="gray"></ion-icon>
            </button>
            <span>
              לא קיימים דווחים להיום
            </span>
          </ion-item>
          <ion-item *ngFor="let time of hoursList" padding-right>
            <ion-note>{{"פעילות לפרויקט"+" "+time['PROJACTA']}} </ion-note>
            <h3>{{time['ACTDES']}}</h3>
            <p>{{getTime(time)}}</p>
            <button ion-button *ngIf="time.isActive" class="activity-play" clear (click)="endReport(time,$event)">
              <ion-icon name="ios-pause-outline" color="crimson"></ion-icon>
            </button>
            <button ion-button *ngIf="!time.isActive" class="activity-play" clear (click)="startReport(time['PROJACTA'],$event)">
              <ion-icon name="ios-play-outline" color="green"></ion-icon>
            </button>
            
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>