<!-- Generated template for the ActivityOptions component -->
<ion-row  dir="rtl">
  <ion-col no-padding text-center>
        <button ion-button clear  small no-margin icon-only class="check-activity" (click)="finishActivity()">
              <ion-icon name="checkmark" color="secondary"></ion-icon>
        </button>
         <button ion-button clear small no-margin class="start-activity" (click)="startReport()">
              <ion-icon name="ios-play-outline" color="dark"></ion-icon>
        </button>
  </ion-col>
</ion-row>