<!-- Generated template for the ActivityOptions component -->
<ion-row  dir="rtl">
  <ion-col no-padding text-center>
       
        <button ion-button clear small class="start-activity" disabled>
              <ion-icon name="star" color="yellow"></ion-icon>
        </button>
        <button ion-button clear small class="start-activity" disabled>
              <ion-icon name="create" color="dark"></ion-icon>
        </button>
         <button ion-button clear small class="start-activity" (click)="startReport()">
              <ion-icon name="play" color="secondary"></ion-icon>
        </button>
  </ion-col>
</ion-row>