<!-- Generated template for the DocMenu component -->
<ion-item no-lines no-margin margin-top margin-bottom no-padding>
  <button ion-button icon-only clear color="darkgray">
    <ion-icon name="bulb"></ion-icon>
  </button>
</ion-item>
<ion-item no-lines no-margin margin-top margin-bottom no-padding>
  <button ion-button icon-only clear color="darkgray">
    <ion-icon name="help-buoy"></ion-icon>
  </button>
</ion-item>
<ion-item no-lines no-margin margin-top margin-bottom no-padding>
  <button ion-button icon-only clear color="darkgray">
    <ion-icon name="card"></ion-icon>
  </button>
</ion-item>
<ion-item no-lines no-margin margin-top margin-bottom no-padding>
  <button ion-button icon-only clear color="darkgray">
    <ion-icon name="settings"></ion-icon>
  </button>
</ion-item>