// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #48c0ee,
  header :     #efefef,
  secondary:  #19b447,
  crimson:     crimson,
  light:      #f4f4f4,
  prettylight:  #fbfbfb,
  dark:       #343434,
  white:     white,
  chip:      #a1a1a1,
  darkgray:  #787878,
  lightgray:   #F1F1F1,
  gray:#cacbcb,
  blue:  #6dcdf3,
  lightblue:  #e3f4fa,
  darkblue:     #2d5c7f,
  grayblue:    #93b6bb,
  new :       #2dc8c2,
  yellow:     #f5c432,
  greenblue:    #8BCFCC,
  toDoColor:      #1F4E5F,
  moddleBlue:        #498fc6,
  background:#3c97bf,
  purple:#9773ba,
  green:#47d7c6,
  headerBlue:#46bbea,
  todostatus:#2D5C7F,
  qastatus:#F38181,
  doneStatus:#28CC9E,
  hoursHeader:#e06272,
  todoHeader:#25acc1,//#3399a2,//#31bfbf,
  notesHeader:#8ac34a,//#8BC34A//rgba(108, 86, 123, 0.863)//#8785A2
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
