// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.scroll-content
{
    overflow: auto ;
    scrollbar-base-color: transparent !important;
  scrollbar-face-color: transparent !important;
  scrollbar-3dlight-color: transparent !important;
  scrollbar-highlight-color:transparent !important;
  scrollbar-track-color: transparent !important;
  scrollbar-arrow-color: transparent !important;
  scrollbar-shadow-color: transparent !important;
  scrollbar-dark-shadow-color: transparent !important;
  scrollbar-arrow-color:  transparent;
  ::-webkit-scrollbar-track
  {

    background-color: transparent;
  }

  ::-webkit-scrollbar
  {
    width: 8px;
    background-color: transparent;
  }

  ::-webkit-scrollbar-thumb
  {
    background-color:  transparent !important;

  }
}

ion-card
      {
          ion-card-header
          {
              border-bottom: 1px solid #efeeee;
              text-align: center;
          }
      }
.transparentBlock  .loading-wrapper 
{
   background-color: transparent !important;
   box-shadow: none !important;
}
.label[floating]
{
   transform-origin: right top;
}

.transparentBlock ion-backdrop {
   opacity: 0 !important;
     
}
ion-spinner
    {
            left: 50%;
    position: absolute;
    top: -10px;
    margin-left: -15px;
 
    }

    /************ Screen adjustments ***************/
  //    @media (min-width: 576px)
  //  {
  //      .activity-container
  //      {
  //        column-count: 2 !important;
  //      }
  //     .activity-container-narrow
  //   {
  //       max-width: 50% !important;
  //        column-count: 1 !important;
  //   }
  //  }
  //   @media (min-width: 768px)
  //  {
  //      .activity-container
  //      {
  //        column-count: 3 !important;
  //      }
       
  //     .editor-col
  //     {
  //       position: relative !important;
  //     }
  //   .activity-container-narrow
  //   {
  //       max-width: 30% !important;
  //        column-count: 1 !important;
  //   }
      
  //  }
  //    @media (min-width: 900px)
  //  {
  //      user-hours
  //     {
  //       position: static !important;
  //     }
      
  //  }
    