<!--
  Generated template for the ActivityList page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header no-border>
  <!--<ion-navbar hideBackButton="true">
    <ion-buttons start>
            <button ion-button icon-only (click)="leavePage()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
        </ion-buttons>
    <ion-title>רשימת פעילויות</ion-title>
    
  </ion-navbar>-->
  <ion-searchbar (ionInput)="getActsBySearch($event)"></ion-searchbar>
</ion-header>
<ion-content padding>
  <div class="activity-container">
    <div *ngFor="let activity of activities" [ngClass]="{'title-activity':activity.LEVEL=='3'}">
      <ion-card-header>
        {{activity["ACTDES"]}}
        <ion-note>{{activity["WBS"]}}</ion-note>
      </ion-card-header>
      <ion-card-content *ngIf="activity.subActivities.length>0">
        <ion-card *ngFor="let subAct of activity.subActivities" [style.borderColor]="getSubActColor(subAct)" class="sub-activity"
          padding>
          <span>{{subAct["WBS"]}}</span>&nbsp;
          <span>{{subAct["ACTDES"]}}</span>
          <activity-options [activity]="subAct"></activity-options>
        </ion-card>
      </ion-card-content>
      
    </div>
  </div>

</ion-content>