activity-list {
    ion-spinner
    {
            left: 50%;
    position: absolute;
    top: -10px;
    margin-left: -15px;
    }
   .toolbar-title
   {
       color:#a0d7d7;
   }
  .title-activity
  {
          font-size: bold;
    color: blue;
    background-color: rgba(253, 253, 253, 0.7);
    margin-bottom: 16px;
    box-shadow: 0 0 2px #b9b7b7;
  }
  .activity-container
  {
      column-count: 3;
      ion-card-header
      {
         white-space: normal;
      }
      .sub-activity
      {
          border-right-width: 3px;
          border-right-style: solid;
          margin-bottom: 10px;
          color: black;
          position: relative;
          padding-left: 35px;
      }
      &.activity-container-narrow
      {
          column-count: 1;
          max-width: 30%;
      }
  }
  ion-note
  {
      display: block;
  }
  .activity-container>div *
  {
     -webkit-column-break-inside: avoid; /* Chrome, Safari */
    page-break-inside: avoid;           /* Theoretically FF 20+ */
    break-inside: avoid-column;         /* IE 11 */
     overflow: hidden;
  }
}
