<!--
  Generated template for the ActivityList page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header no-border>
  <ion-searchbar (ionInput)="getActsBySearch($event)" placeholder="חפש פעילות לפי נושא,רמה או מספר פעילות..." [(ngModel)]="searchVal"></ion-searchbar>
</ion-header>
<ion-content>
  <ion-spinner name="dots" *ngIf="isLoadingActs" [ngClass]="{'spinner-with-acts':displayActs.length>0}"></ion-spinner>
  <ion-label *ngIf="displayActs.length<=0 && !isLoadingActs && !isHasProjects()">
    לא קיימות פעילויות להצגה. אנא בחר לפחות פרויקט אחד כדי להמשיך.
  </ion-label>
  <ion-label *ngIf="displayActs.length<=0 && !isLoadingActs && isHasProjects()">
    לא נמצאו פעילויות מתאימות.
  </ion-label>
  <ion-row class="activity-container">
    <ion-col col-md-4 col-0>
      <ion-content>
        <!--separate ion-content for scrolling-->
        <ion-list *ngFor="let parentActivity of displayActs">
          <ion-list-header no-margin>
            {{parentActivity["ACTDES"]}}
          </ion-list-header>
          <ion-item *ngFor="let activity of parentActivity.headActivities" (click)="setCurrentActivity(activity)" [ngClass]="{'current-activity':activity.isActive, 'displaynone':isDisplayAct(activity)}">
            <!-- <ion-card-header> -->
            <ion-note no-margin class="head-activity-proj">{{activity["PROJACT"]}}</ion-note>
            {{activity["ACTDES"]}}
            <p no-margin class="head-activity-level">{{activity["PROJDES"] +" "+activity["WBS"] }}</p>
            <ion-badge item-end>{{activity.subActivities.length>0? activity.subActivities.length : ""}}</ion-badge>
            <!-- </ion-card-header> -->
            <!-- <ion-card-content *ngIf="activity.subActivities.length>0">
         
        </ion-card-content> -->

          </ion-item>
        </ion-list>
      </ion-content>
    </ion-col>
    <ion-col class="sub-acts-container" *ngIf="currentSubAct===undefined">
      <ion-content>
        <!--separate ion-content for scrolling-->
        <ion-grid margin-bottom *ngIf="displayActs && displayActs.length>0 ">
          <!--[ngClass]="{'has-editor': currentSubAct!==undefined}"-->
          <ion-row>
            <ion-col col-12 col-lg-4>
              <ion-card-header [style.backgroundColor]="'#2D5C7F'">לביצוע</ion-card-header>
              <ion-card *ngFor="let subAct of currentAct.subActOther" [style.borderRightColor]="getSubActColor(subAct)" class="sub-activity"
                padding (mouseenter)="onmouseover(subAct)" (mouseleave)="onmouseout(subAct)" (click)="selectSubAct(subAct)">
                <ion-note class="activity-id">{{subAct["PROJACT"]}}</ion-note>
                <h4>{{subAct["ACTDES"]}}</h4>
                <p>{{"באחריות "+subAct["OWNER"]}}</p>
                <activity-options [activity]="subAct" [parentActivity]="currentAct" *ngIf="subAct.showOpts"></activity-options>
              </ion-card>
            </ion-col>
            <ion-col col-12 col-lg-4>
              <ion-card-header [style.backgroundColor]="'#F38181'">QA</ion-card-header>
              <ion-card *ngFor="let subAct of currentAct.subActQA" [style.borderRightColor]="getSubActColor(subAct)" class="sub-activity"
                padding (mouseenter)="onmouseover(subAct)" (mouseleave)="onmouseout(subAct)" (click)="selectSubAct(subAct)">
                <ion-note>{{subAct["PROJACT"]}}</ion-note>
                <h4>{{subAct["ACTDES"]}}</h4>
                <p>{{"באחריות "+subAct["OWNER"]}}</p>
                <activity-options [activity]="subAct" [parentActivity]="currentAct" *ngIf="subAct.showOpts"></activity-options>
              </ion-card>
            </ion-col>
            <ion-col col-12 col-lg-4>
              <ion-card-header [style.backgroundColor]="'#28CC9E'">בוצעה</ion-card-header>
              <ion-card *ngFor="let subAct of currentAct.subActDone" [style.borderRightColor]="getSubActColor(subAct)" class="sub-activity"
                padding (mouseenter)="onmouseover(subAct)" (mouseleave)="onmouseout(subAct)" (click)="selectSubAct(subAct)">
                <ion-note>{{subAct["PROJACT"]}}</ion-note>
                <h4>{{subAct["ACTDES"]}}</h4>
                <p>{{"באחריות "+subAct["OWNER"]}}</p>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-content>
    </ion-col>
    <ion-col *ngIf="currentSubAct!==undefined" class="activity-editor" >
      <ion-toolbar (click)="closeactivityEditor()">
          <ion-buttons [style.position]="'absolute'" end padding-top padding-bottom >
              <button ion-button   padding color="darkgray">
                  
                  <ion-icon name="ios-arrow-forward"></ion-icon>
              </button>
          </ion-buttons>
          <ion-label>{{currentAct.ACTDES}}</ion-label>
      </ion-toolbar>

      <!-- <activity-editor [activity]="currentSubAct"  ></activity-editor> -->
    </ion-col>
  </ion-row>

</ion-content>